<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ricardo.thtpaypalcarrinho" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.CarrinhoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".VideoRasp"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.PaymentOrderReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.PaymentService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".PermissionActivity"
            android:label="@string/title_activity_permission" >
        </activity>
    </application>

</manifest>
